/* your styles go here */
form {
  margin:0px;
}

.profile-picture {
    width: 50px;
    height: 45px;
}

.navbar-nav  {
  flex-direction:row;
}

#map {
    height: 400px;
    max-width: 600px;
}

.dummy-center {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
