{% extends 'places/layouts/base.html' %}
{% load static %}
{% block content %}
<script defer>
    function initMap() {
        var default_location = {
          lat: {{ memory_form.initial.lat }},
          lng: {{ memory_form.initial.lng }},
        };

        var map = new google.maps.Map(
          document.getElementById('map'),
          {
            zoom: 10,
            center: default_location,
          },
        );

        var marker = new google.maps.Marker({map: map});

        google.maps.event.addListener(map, 'click', function (event) {
            marker.setPosition(event.latLng)
            document.getElementById('lat').value = event.latLng.lat();
            document.getElementById('lng').value = event.latLng.lng();
        });
    }
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key={{ memory_form.initial.GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>

<form class="mb-5" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ memory_form.as_p }}
  <div class="mb-3" id="map"></div>
  <div style="display:none">
    <input id="lat" name="lat" readonly value={{ memory_form.initial.lat }}>
    <input id="lng" name="lng" readonly value={{ memory_form.initial.lng }}>
  </div>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock %}
