{% extends 'places/layouts/base.html' %}
{% load static %}
{% block content %}
<script defer>
    function initMap() {
        var default_location = {
          lat: {{ place_form.initial.lat }},
          lng: {{ place_form.initial.lng }},
        };

        var map = new google.maps.Map(
          document.getElementById('map'),
          {
            zoom: 10,
            center: default_location,
          },
        );

        var marker = new google.maps.Marker({map: map});

        google.maps.event.addListener(map, 'click', function (event) {
            marker.setPosition(event.latLng)
            document.getElementById('id_latitude').value = event.latLng.lat();
            document.getElementById('id_longitude').value = event.latLng.lng();
            document.getElementById('id_zoom').value = map.getZoom();
        });
        google.maps.event.addListener(map, 'zoom_changed', function() {
            document.getElementById('id_zoom').value = map.getZoom();
        });
    }
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key={{ place_form.initial.GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>

<form class="mb-5" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ place_form.as_p }}
  <div class="mb-3" id="map"></div>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock %}
