{% if user.is_authenticated %}
<header class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item mr-3 container">
        <div class="row" style="line-height:45px;">
          <img
            class="profile-picture"
            src="{{ user.socialaccount_set.all.0.get_avatar_url }}"/>
          <div class="pl-2 pr-2">
            {{ user.first_name }}
          <div>
        </div>
      </li>
      <li class="nav-item">
        <form>
          <button
            class="btn btn-outline-primary btn-lg"
            formaction="{% url 'logout' %}">
            Выйти
          </button>
        </form>
      </li>
      <li class="ml-2 nav-item">
        <form>
          <button
            class="btn btn-outline-primary btn-lg"
            formaction="{% url 'place-list' %}">
            Воспоминания
          </button>
        </form>
      </li>
    </ul>
  </div>
</header>
{% else %}
{% endif %}
